body::before {
    display: block; 
    content: "";
    height: 0px;
}


#mapid {
  position: relative;
  border: 1px solid black;
  border-radius: 8px;
  width: 580px;
  height: 300px;
  padding:10px;
}
#myBar {
  position: relative;
  border: 1px solid black;
  border-radius: 8px;
  width: 580px;
  height: 300px;
  padding:10px;
}
#tempid {
  position: relative;
  border: 1px solid black;
  border-radius: 8px;
  width: 580px;
  height: 300px;
  padding:10px;
}

