<<<<<<< HEAD
<<<<<<< HEAD
#mapid {height:500px; width:500px;} */


/* #mapid {
=======
=======
>>>>>>> c0109439dbc9a2332709c51b3f6642a8d4f81569
body::before {
    display: block; 
    content: "";
    height: 56px;
}


#mapID {
<<<<<<< HEAD
>>>>>>> c0109439dbc9a2332709c51b3f6642a8d4f81569
=======
>>>>>>> c0109439dbc9a2332709c51b3f6642a8d4f81569
  position: relative;
  border: 1px solid black;
  border-radius: 8px;
  height: 500px;
  width: 500px; 
}
<<<<<<< HEAD
<<<<<<< HEAD
 */
/* .d3-tip {
  position: absolute;
  padding: 6px;
  font-size: 12px;
  line-height: 1;
  line-height: 1.5em;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 4px;
} */
=======

>>>>>>> c0109439dbc9a2332709c51b3f6642a8d4f81569
=======

>>>>>>> c0109439dbc9a2332709c51b3f6642a8d4f81569
